/* ---------------------------------------------------------
    * Name: Oriya - Office equipment eCommerce HTML Template
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Components
        * header
        * footer
        * tabs
        * slider banner
        * button
        * range slider
        * form
        * nice select
        * carousel
        * avatar
        * pop up
        * box icon
        * hover
        * collection
        * product
        * blog
        * testimonial
        * lookbook
        * featured
        * accordion
        * zoom

    * section

    * Responsive
 ------------------------------------------------------------------------------ */
/*--------- Abstracts variable ---------- */
@import url(./bootstrap-select.min.css);
:root {
  --main: #000000;
  --White: #ffffff;
  --Onsurface: #181818;
  --Primary: #DC9056;
  --Secondary: #4D4E4F;
  --Secondary2: #A0A0A0;
  --Surface: #F6F6F6;
  --line: #E9E9E9;
  --Critical: #F03E3E;
  --Success: #3DAB25;
  --Yellow: #F0A750;
  --pink: #EC749D;
  --backdrop: rgba(24, 24, 24, 0.2) ;
}

/*---------- Reset css styles ----------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Elements
-------------------------------------------------------------- */
html {
  margin-right: 0 !important;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Marcellus", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--main);
  background-color: var(--White);
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1);
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
}

.container {
  width: 100%;
  margin: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  font-family: "Marcellus", sans-serif;
  border: 1px solid var(--line);
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 12px 18px;
  width: 100%;
  background: var(--White);
  color: var(--Secondary);
  font-weight: 400;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  border-color: var(--line);
}

textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

textarea {
  height: 112px;
  resize: none;
}

/* Placeholder color */
::-webkit-input-placeholder {
  color: var(--Secondary);
}

:-moz-placeholder {
  color: var(--Secondary);
}

::-moz-placeholder {
  color: var(--Secondary);
  opacity: 1;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */
:-ms-input-placeholder {
  color: var(--Secondary);
}

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--main);
  font-weight: 400;
}

h1 {
  font-size: 56px;
  line-height: 68px;
}

h2 {
  font-size: 44px;
  line-height: 50px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-size: 30px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 30px;
}

h6 {
  font-size: 20px;
  line-height: 28px;
}

.text-display {
  font-size: 80px;
  font-weight: 400;
  line-height: 88px;
}

.text-body-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.text-body-default {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.text-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.text-button-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.text-caption-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.text-caption-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.font-main {
  font-family: "Marcellus", sans-serif;
}

.font-2 {
  font-family: "Kumbh Sans", sans-serif;
}

b,
strong {
  font-weight: bolder;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-5 {
  font-weight: 500 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.fw-8 {
  font-weight: 800 !important;
}

.bg_white {
  background-color: var(--White) !important;
}

.bg_onsurface {
  background-color: var(--Onsurface) !important;
}

.text_white {
  color: var(--White) !important;
}

.text_primary {
  color: var(--Primary) !important;
}

.text_secondary {
  color: var(--Secondary) !important;
}

label {
  font-weight: 600;
}

.link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link:hover {
  color: var(--Primary) !important;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: var(--Onsurface);
}
a:focus, a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  outline: 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tf-grid-layout {
  display: grid;
  column-gap: 15px;
  row-gap: 30px;
}
.tf-grid-layout.tf-col-2 {
  grid-template-columns: 1fr 1fr;
}
.tf-grid-layout.gap30 {
  gap: 30px;
}

.gap-4 {
  gap: 4px !important;
}

.gap-5 {
  gap: 5px !important;
}

.gap-6 {
  gap: 6px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-10 {
  gap: 10px !important;
}

.gap-12 {
  gap: 12px !important;
}

.gap-14 {
  gap: 14px !important;
}

.gap-15 {
  gap: 15px !important;
}

.radius-3 {
  border-radius: 3px !important;
}

.radius-5 {
  border-radius: 5px !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.radius-20 {
  border-radius: 20px !important;
}

.radius-60 {
  border-radius: 60px !important;
}

.rounded-full {
  border-radius: 999px !important;
}

.o-hidden {
  overflow: hidden;
}

.px_15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pt_0 {
  padding-top: 0px !important;
}

.pb_0 {
  padding-bottom: 0px !important;
}

.pr_0 {
  padding-right: 0px !important;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_48 {
  margin-bottom: 48px;
}

.flat-spacing-1 {
  padding: 10px 0;
}

[data-grid=grid-1] {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

[data-grid=grid-2] {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

[data-grid=grid-3] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

[data-grid=grid-4] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

[data-grid=grid-5] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
}

[data-grid=grid-6] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
}

.grid-template-columns-2 {
  grid-template-columns: 1fr 1fr;
}

.tf-row-flex {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 30px;
}

.tf-grid-layout-v2 {
  display: grid;
  gap: 15px;
}

.sticky-top {
  z-index: 50;
}

.tf-md-hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*------------ Components ---------------- */
/*------------ header ---------------- */
.tf-topbar {
  background-color: var(--Onsurface);
  padding: 11px 0;
}
.tf-topbar .topbar-left {
  display: flex;
  align-items: center;
  gap: 28px;
}
.tf-topbar .topbar-right {
  display: flex;
  align-items: center;
  gap: 29px;
}
.tf-topbar .wrapper-slider-topbar {
  position: relative;
}
.tf-topbar .wrapper-slider-topbar .tf-sw-top_bar {
  margin-left: 20px;
  margin-right: 20px;
}
.tf-topbar .navigation-topbar {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}
.tf-topbar .navigation-topbar .icon {
  font-size: 20px;
  color: var(--White);
}
.tf-topbar .navigation-topbar.nav-next-topbar {
  left: 0;
}
.tf-topbar .navigation-topbar.nav-prev-topbar {
  right: 0;
}

header {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 888;
  background-color: var(--white);
}

.header-default .main-header {
  padding: 25px 0 25px;
}
.header-default .nav-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
}
.header-default .nav-icon .nav-icon-item {
  display: flex;
  font-size: 28px;
  position: relative;
}
.header-default .nav-icon .count-box {
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--Primary);
  color: var(--White);
  top: -4px;
  right: -4px;
}
.header-default .header-bottom {
  border-top: 1px solid var(--line);
}
.header-default .header-bottom .box-left {
  display: flex;
  align-items: center;
}
.header-default .header-bottom .box-right {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}
.header-default .header-bottom .box-right .icon {
  font-size: 24px;
}
.header-default .header-bottom .box-right .number-phone {
  color: var(--Primary);
  text-decoration: underline;
}
.header-default .sub-categories2 {
  position: relative;
}
.header-default .sub-categories2 .list-categories-inner {
  left: 101%;
  margin: 0;
  top: 0;
  min-width: 250px;
}
.header-default .sub-categories2 .list-categories-inner::before {
  height: 100%;
  position: absolute;
  width: 15px;
  top: -9px;
  left: -4px;
  bottom: 0;
  content: "";
}
.header-default .sub-categories2 .list-categories-inner::after {
  content: none !important;
}
.header-default .sub-categories2:hover .list-categories-inner {
  opacity: 1;
  visibility: visible;
  transform: none;
  pointer-events: all;
}
.header-default .main-header .wrapper-header {
  min-height: auto;
}
.header-default .mobile-menu {
  display: inline-flex;
}
.header-default .mobile-menu .icon {
  font-size: 24px;
}

.tf-list-categories {
  position: relative;
}
.tf-list-categories .categories-title {
  color: var(--Onsurface);
  display: flex;
  gap: 8px;
  align-items: center;
}
.tf-list-categories .categories-title .icon {
  font-size: 20px;
}
.tf-list-categories .list-categories-inner {
  left: -20px;
  border-radius: 8px;
  position: absolute;
  background-color: var(--White);
  min-width: 300px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: left;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
  top: 100%;
  color: var(--main);
  pointer-events: none;
  padding: 8px 0px;
}
.tf-list-categories .categories-item {
  padding: 9px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.tf-list-categories .categories-item .icon {
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tf-list-categories .categories-item .inner-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.tf-list-categories .categories-item:hover {
  color: var(--Primary);
}
.tf-list-categories .categories-item:hover .icon {
  color: var(--Primary);
}
.tf-list-categories .box-cate-bottom {
  position: relative;
  padding-top: 9.5px;
  margin-top: 9.5px;
}
.tf-list-categories .box-cate-bottom::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--line);
  top: 0;
  left: 20px;
  right: 20px;
}
.tf-list-categories:hover > .list-categories-inner {
  opacity: 1;
  visibility: visible;
  transform: none;
  pointer-events: all;
}

.box-nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.box-nav-ul .menu-item {
  padding: 18px 0 19px;
}
.box-nav-ul .menu-item:hover > .sub-menu {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0px) translateY(0px);
}
.box-nav-ul .item-link {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  position: relative;
}
.box-nav-ul .item-link .icon {
  font-size: 16px;
}
.box-nav-ul .item-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -2px;
  left: auto;
  right: 0;
  z-index: 1;
  -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: var(--Primary);
}
.box-nav-ul .item-link.active::after, .box-nav-ul .item-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.box-nav-ul .sub-menu {
  pointer-events: none;
  position: absolute;
  background-color: var(--White);
  min-width: 200px;
  z-index: 999;
  visibility: hidden;
  text-align: left;
  padding: 8px 20px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  transform: translateX(0px) translateY(10px);
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box-nav-ul .mega-menu {
  padding: 32px 0;
  border: none;
  height: max-content;
  overflow: auto;
  left: 0;
  right: 0;
}
.box-nav-ul .submenu-default {
  left: -20px;
  padding: 8px 20px;
}
.box-nav-ul .submenu-default .menu-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.box-nav-ul .submenu-default .menu-link-text {
  padding: 7px 0;
  color: var(--Secondary);
  position: relative;
}
.box-nav-ul .submenu-default .menu-link-text::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 5px;
  left: auto;
  right: 0;
  z-index: 1;
  -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: var(--Onsurface);
}
.box-nav-ul .submenu-default .menu-link-text.active, .box-nav-ul .submenu-default .menu-link-text:hover {
  color: var(--Onsurface);
}
.box-nav-ul .submenu-default .menu-link-text.active::after, .box-nav-ul .submenu-default .menu-link-text:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.mega-menu .row-demo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  overflow-y: auto;
  padding-right: 10px;
  margin-right: -16px;
}
.mega-menu .row-demo::-webkit-scrollbar {
  width: 6px;
}
.mega-menu .row-demo::-webkit-scrollbar-thumb {
  background: var(--line);
}
.mega-menu .demo-item {
  border-radius: 4px;
  background-color: var(--Surface);
  padding: 12px;
  border: solid 1px var(--line);
  transition: border 0.4s;
  margin-bottom: 1px;
  display: inline-flex;
}
.mega-menu .demo-item .demo-image {
  margin-bottom: 12px;
  border-radius: 2px;
  overflow: hidden;
}
.mega-menu .demo-item .demo-name {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.36px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mega-menu .demo-item .demo-name:hover {
  color: var(--primary);
}
.mega-menu .demo-item:hover {
  border-color: var(--main);
}
.mega-menu .collection-item .collection-title {
  background-color: #f2f2f2;
  border-radius: 3px;
}
.mega-menu .collection-item .collection-content {
  bottom: 40px;
}
.mega-menu .collection-item .tf-btn .icon {
  margin: 0px;
}

.canvas-mb {
  width: 100% !important;
  max-width: min(90%, 320px);
  border-right: 0 !important;
}
.canvas-mb .mb-canvas-content {
  padding-top: 60px;
  padding-bottom: 0;
  padding-inline-end: 0;
  padding-inline-start: 20px;
  min-width: 100%;
  max-width: min(90%, 320px);
  grid-auto-rows: minmax(0, 1fr) auto;
  isolation: isolate;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: start;
}
.canvas-mb .mb-body {
  padding-right: 15px;
  overscroll-behavior-y: contain;
  overflow-y: auto;
}
.canvas-mb .icon-close-popup {
  position: absolute;
  font-size: 16px;
  z-index: 3;
  top: 20px;
  left: 15px;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--Onsurface);
}
.canvas-mb .mb-bottom {
  padding-top: 15px;
}
.canvas-mb .mb-bottom .site-nav-icon {
  margin-bottom: 18px;
}
.canvas-mb .mb-bottom .bottom-bar-language {
  min-height: 63px;
  border-top: 1px solid var(--line);
  gap: 28px;
  max-width: calc(100% - 20px);
  display: flex;
  align-items: center;
}
.canvas-mb .mb-bottom .bottom-bar-language .image-select.type-currencies > .dropdown-menu {
  margin-left: 0 !important;
}
.canvas-mb .mb-bottom .bottom-bar-language .image-select > .dropdown-menu::before {
  display: none;
}
.canvas-mb .site-nav-icon {
  padding: 0 9px;
  line-height: 40px;
  border: solid 1px var(--line);
  gap: 4px;
  background-color: var(--line);
  color: var(--Onsurface);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
.canvas-mb .site-nav-icon .icon {
  font-size: 14px;
}
.canvas-mb .site-nav-icon svg path {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.canvas-mb .site-nav-icon:hover {
  color: var(--White);
  background-color: var(--Onsurface);
  border-color: var(--Onsurface);
}
.canvas-mb .site-nav-icon:hover svg path {
  stroke: var(--White);
}
.canvas-mb .mb-other-content .group-icon {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 28px;
}
.canvas-mb .mb-other-content .text-need {
  font-weight: 500;
  border-bottom: 1px solid var(--Onsurface);
  margin-bottom: 11px;
}
.canvas-mb .mb-other-content .mb-info li {
  color: rgb(134, 134, 134);
  font-size: 14px;
  line-height: 24px;
}

.nav-ul-mb .nav-mb-item {
  padding: 2px 0px;
}
.nav-ul-mb .nav-mb-item:not(:last-child) {
  border-bottom: 1px solid rgb(238, 238, 238);
}
.nav-ul-mb .nav-mb-item .mb-menu-link {
  min-height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-ul-mb .nav-mb-item .mb-menu-link:not(.collapsed) .btn-open-sub::before {
  transform: rotate(90deg);
}
.nav-ul-mb .nav-mb-item.active .mb-menu-link {
  color: var(--Primary);
}
.nav-ul-mb .nav-mb-item.active .mb-menu-link .btn-open-sub::after, .nav-ul-mb .nav-mb-item.active .mb-menu-link .btn-open-sub::before {
  background-color: var(--Primary);
}
.nav-ul-mb .nav-mb-item.active .sub-nav-link.active {
  color: var(--Primary);
}
.nav-ul-mb .nav-mb-item.active .sub-nav-link.active .btn-open-sub::after, .nav-ul-mb .nav-mb-item.active .sub-nav-link.active .btn-open-sub::before {
  background-color: var(--Primary);
}
.nav-ul-mb .btn-open-sub {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-ul-mb .btn-open-sub:after, .nav-ul-mb .btn-open-sub::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--Onsurface);
  transition: 0.4s ease 0.1s;
  margin: auto;
}
.nav-ul-mb .btn-open-sub::before {
  width: 2px;
  height: 12px;
}
.nav-ul-mb .btn-open-sub::after {
  width: 12px;
  height: 2px;
}
.nav-ul-mb .sub-nav-menu {
  margin-left: 10px;
  padding-left: 19px;
  margin-bottom: 26px;
  border-left: 1px solid rgb(236, 236, 236);
}
.nav-ul-mb .sub-menu-level-2 {
  margin-bottom: 5px;
}
.nav-ul-mb .sub-nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  font-size: 14px;
}
.nav-ul-mb .sub-nav-link:not(.collapsed) .btn-open-sub::before {
  transform: rotate(90deg);
}
.nav-ul-mb .sub-nav-link.line-clamp {
  position: relative;
  display: inline-flex;
}
.nav-ul-mb .sub-nav-link.line-clamp .demo-label {
  top: -5px;
  right: -38px;
}

/*------------ footer ---------------- */
/*------------ tabs ---------------- */
/*------------ slider banner ---------------- */
/*------------ button ---------------- */
/*------------ range slider ---------------- */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: rgb(235, 235, 235);
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 3px;
}

.noUi-horizontal .noUi-handle {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary);
  border: 2px solid transparent;
  cursor: pointer;
}

.caption {
  margin-bottom: 10px;
}

/* Styling; */
.noUi-background {
  background: rgb(235, 235, 235);
}

.noUi-connect {
  background: var(--primary);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 0px;
}

.noUi-target {
  width: 100%;
  padding-right: 15px;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* Disabled state; */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.slider-labels .caption {
  font-weight: 500;
  font-size: 16px;
}

/*------------ form ---------------- */
.form-search {
  position: relative;
}
.form-search input {
  font-size: 16px;
  line-height: 26px;
  padding: 8px 15px;
  border-radius: 8px;
  color: var(--Secondary2);
}
.form-search input::placeholder {
  font-size: 16px;
  line-height: 26px;
  color: var(--Secondary2);
}
.form-search button {
  font-size: 24px;
  display: flex;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

/*------------ nice select ---------------- */
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border: 0;
  padding: 0;
  padding-right: 16px;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  outline: none;
  position: relative;
  transition: all linear 0.2s;
  user-select: none;
  white-space: nowrap;
  width: max-content;
  border-radius: 0;
  color: var(--main);
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: var(--line);
}

.nice-select:after {
  border-bottom: 1.7px solid var(--main);
  border-right: 1.7px solid var(--main);
  content: "";
  height: 8px;
  width: 8px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  width: 100%;
  -moz-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: var(--White);
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  width: 100%;
  font-size: 14px;
  max-height: 155px;
  overflow: auto;
}

.nice-select .list.style {
  max-height: unset;
}

.nice-select .list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.nice-select .list::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.nice-select .list::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.nice-select .option {
  cursor: pointer;
  font-weight: 500;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  font-size: 16px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: var(--main);
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: var(--White);
  color: var(--primary);
}

.nice-select .option.selected {
  font-weight: 600;
}

.nice-select .option.disabled {
  color: var(--main);
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.image-select.style-default {
  display: flex;
  width: max-content !important;
}
.image-select.style-default > select {
  display: none !important;
}
.image-select.style-default > .dropdown-toggle {
  padding: 0;
  padding-right: 20px;
  background-color: transparent !important;
  border: 0 !important;
  outline: none !important;
  color: var(--main);
}
.image-select.style-default > .dropdown-toggle::after {
  border: 0;
  position: absolute;
  right: 0;
  content: "\e936";
  font-family: "icomoon";
  font-size: 12px;
  color: var(--main);
}
.image-select.style-default .filter-option-inner-inner {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.image-select.style-default .filter-option-inner-inner img {
  width: 20px;
  height: 15px;
}
.image-select.style-default > .dropdown-menu {
  overflow: unset !important;
  margin-top: 17px !important;
  margin-bottom: 17px !important;
  padding: 15px 20px;
  border-radius: 0;
  border: 0;
  background-color: var(--White);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 18px 0px;
}
.image-select.style-default > .dropdown-menu a {
  padding: 5px 0;
}
.image-select.style-default > .dropdown-menu a .text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.image-select.style-default > .dropdown-menu a .text img {
  width: 16px;
  height: 12px;
}
.image-select.style-default > .dropdown-menu a:hover, .image-select.style-default > .dropdown-menu a:active, .image-select.style-default > .dropdown-menu a.active {
  color: var(--primary) !important;
  background-color: unset !important;
}
.image-select.style-default > .dropdown-menu::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--White);
  top: 0;
  left: 50%;
  z-index: 2;
}
.image-select.style-default > .dropdown-menu[data-popper-placement=top-start]::after {
  display: none;
}
.image-select.style-default > .dropdown-menu[data-popper-placement=top-start]::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: var(--White);
  bottom: 0%;
  left: 50%;
  z-index: 2;
}
.image-select.style-default.style-box {
  padding: 6px 11px;
  border-radius: 4px;
  border: 1px solid var(--line);
  background-color: var(--White);
}
.image-select.style-default.style-box > .dropdown-toggle {
  width: max-content;
}
.image-select.style-default.style-box .filter-option-inner-inner {
  font-size: 16px;
  line-height: 26px;
}
.image-select.style-default.style-box > .dropdown-menu {
  margin-left: -11px !important;
  width: 160px !important;
}
.image-select.type-currencies > .dropdown-menu {
  width: 120px !important;
  margin-left: calc(50% - 60px) !important;
}
.image-select.type-languages > .dropdown-menu {
  width: 96px !important;
  margin-left: calc(50% - 48px) !important;
}
.image-select.color-secondary-2 > .dropdown-toggle {
  color: var(--secondary-2);
}
.image-select.color-secondary-2 > .dropdown-toggle::after {
  color: var(--secondary-2);
}
.image-select.color-secondary-2 > .dropdown-toggle .filter-option .filter-option-inner {
  color: var(--secondary-2);
}
.image-select.color-white > .dropdown-toggle {
  color: var(--White);
}
.image-select.color-white > .dropdown-toggle::after {
  color: var(--White);
}
.image-select.color-white > .dropdown-toggle .filter-option .filter-option-inner {
  color: var(--White);
}

/*------------ carousel ---------------- */
/*------------ avatar ---------------- */
/*------------ pop up ---------------- */
.offcanvas {
  z-index: 3000;
  border: none !important;
}

.offcanvas-backdrop {
  background-color: var(--backdrop);
  cursor: url("../images/item/cursor-close.svg"), auto;
}
.offcanvas-backdrop.show {
  opacity: 1;
}

.overflow-x-auto::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar {
  width: 0px;
}

.modal-backdrop {
  background-color: var(--backdrop);
}
.modal-backdrop.show {
  opacity: 1;
}

.modal {
  cursor: url("../images/item/cursor-close.svg"), auto;
}
.modal.show .modal-dialog {
  transform: none;
  transition: transform 0.3s ease-out !important;
}
.modal.fullRight .modal-dialog {
  transform: translate(100%, 0);
  min-width: 100%;
  height: 100%;
  margin: 0;
  transition: transform 1s ease-out;
}
.modal.fullRight .modal-dialog .modal-content {
  border-radius: 0;
  border: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0;
}
.modal.fullRight .modal-dialog .modal-content .modal-body {
  overflow: auto;
  padding: 0;
  padding-bottom: 30px;
}
.modal.fullRight.show .modal-dialog {
  transform: translate(0, 0);
}
.modal.fullLeft .modal-dialog {
  transform: translate(-100%, 0) !important;
  min-width: 100%;
  height: 100%;
  margin: 0;
  transition: all 0.3s !important;
}
.modal.fullLeft .modal-dialog .modal-content {
  border-radius: 0;
  border: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0;
}
.modal.fullLeft .modal-dialog .modal-content .modal-body {
  overflow: auto;
  padding: 0;
  padding-bottom: 30px;
}
.modal.fullLeft.show .modal-dialog {
  transform: translate(0, 0) !important;
}
.modal.modalLeft .modal-dialog {
  transform: translate(-100px, 0);
}
.modal.modalRight .modal-dialog {
  transform: translate(100px, 0);
}
.modal.modalBottom .modal-dialog {
  transform: translate(0, 100px);
}
.modal.modalCentered .modal-dialog {
  transform: translate(0, 0) !important;
}
.modal .modal-content {
  cursor: default !important;
}
.modal.fade:not(.show) {
  opacity: 0;
}

.bg-color-beige {
  background: conic-gradient(#c8ad7f 0deg 360deg);
}

.bg-color-black {
  background: conic-gradient(#000000 0deg 360deg);
}

.bg-color-blue {
  background: conic-gradient(#a8bcd4 0deg 360deg);
}

.bg-color-white {
  background: conic-gradient(#ffffff 0deg 360deg);
}

.bg-color-pink {
  background: conic-gradient(#fcc6de 0deg 360deg);
}

.bg-color-brown {
  background: conic-gradient(#977945 0deg 360deg);
}

.bg-color-light-purple {
  background: conic-gradient(#d966d9 0deg 360deg);
}

.bg-color-light-green {
  background: conic-gradient(#caffd6 0deg 360deg);
}

.bg-color-orange {
  background: conic-gradient(#ffa500 0deg 360deg);
}

.bg-color-light-blue {
  background: conic-gradient(#add8e6 0deg 360deg);
}

/*------------ box icon ---------------- */
/*------------ hover ---------------- */
/*------------ collection ---------------- */
/*------------ product ---------------- */
/*------------ blog ---------------- */
.blog-article-item .article-thumb {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}
.blog-article-item .article-thumb a {
  width: 100%;
  height: 100%;
}
.blog-article-item .article-thumb img {
  width: 100%;
  object-fit: cover;
}
.blog-article-item .article-label {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  height: 22px;
  background-color: var(--White);
  border-radius: 144px;
}
.blog-article-item .meta {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 17px;
  margin-bottom: 12px;
}
.blog-article-item .meta li:not(:last-child) {
  position: relative;
}
.blog-article-item .meta li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  right: -9px;
  top: 5px;
  background-color: var(--line);
}
.blog-article-item .meta a {
  margin-left: 5px;
}
.blog-article-item .article-title {
  margin-bottom: 8px;
}

.wg-pagination {
  display: flex;
  gap: 8px;
}
.wg-pagination .pagination-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--line);
  border-radius: 5px;
  overflow: hidden;
}
.wg-pagination li:hover .pagination-item,
.wg-pagination li.active .pagination-item {
  background-color: var(--Onsurface);
  border-color: var(--Onsurface);
  color: var(--White);
}

/*------------ testimonial ---------------- */
/*------------ lookbook ---------------- */
/*------------ featured ---------------- */
/*------------ accordion ---------------- */
/*------------ zoom ---------------- */
.tf-zoom-main {
  position: sticky;
  top: 30px;
  z-index: 50;
}
.tf-zoom-main .drift-zoom-pane {
  top: 0;
  left: 0;
  height: 520px;
  max-width: 520px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  box-shadow: 0 1px 5px rgba(127, 127, 127, 0.0196078431), 0 5px 18px rgba(127, 127, 127, 0.2);
  z-index: 3;
}

.drift-bounding-box.drift-open {
  background: rgba(255, 255, 255, 0.2509803922);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset;
  z-index: 5000;
}

.drift-zoom-pane {
  z-index: 5000;
}

.section-image-zoom .other-image-zoom {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-image-zoom.zoom-active .other-image-zoom {
  opacity: 0.3;
}

.pswp__bg {
  background: var(--White);
}

.pswp__icn {
  fill: rgb(34, 34, 34);
  color: var(--White);
}
.pswp__icn .pswp__icn-shadow {
  stroke: var(--White);
  stroke-width: 1px;
  fill: none;
}

.pswp__counter {
  color: #222;
  text-shadow: 1px 1px 3px #ffffff;
}

.tf-model-viewer {
  width: 100%;
  height: 100%;
  position: relative;
}
.tf-model-viewer model-viewer {
  display: block;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.tf-model-viewer model-viewer.disabled {
  pointer-events: none;
}
.tf-model-viewer.active model-viewer {
  pointer-events: all;
}
.tf-model-viewer.active .wrap-btn-viewer {
  display: none;
}

/*------------ sections ---------------- */
.main-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-title {
  position: relative;
}
.page-title .image-wrap {
  max-height: 280px;
  overflow: hidden;
}
.page-title .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page-title .content .title {
  color: var(--White);
  margin-bottom: 12px;
}
.page-title .content .breadcrumb {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-title .content .breadcrumb a {
  color: var(--White);
}
.page-title .content .breadcrumb a:hover {
  color: var(--Onsurface);
}
.page-title .content .breadcrumb li {
  font-size: 14px;
  line-height: 22px;
  color: var(--White);
}
.page-title .content .breadcrumb li:not(:last-child) {
  position: relative;
}
.page-title .content .breadcrumb li:not(:last-child)::after {
  position: absolute;
  content: "\e92e";
  font-family: "icomoon";
  right: -17px;
  top: 1px;
}

/*-------------- Responsive ----------------- */
@media (min-width: 576px) {
  .tf-grid-layout.sm-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.sm-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.sm-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.sm-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.sm-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.sm-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 768px) {
  .tf-grid-layout.md-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.md-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.md-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.md-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.md-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.md-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 992px) {
  .tf-grid-layout {
    column-gap: 30px;
    row-gap: 30px;
  }
  .tf-grid-layout.lg-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.lg-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.lg-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.lg-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.lg-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.lg-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (max-width: 576px) {
  .header-default .nav-icon {
    gap: 12px;
  }
  .header-default .nav-icon .nav-icon-item {
    font-size: 22px;
  }
}
/*-------------- RTL ----------------- */

/*# sourceMappingURL=styles.css.map */
