// min-width
@media (min-width: 576px) {
    .tf-grid-layout {
        &.sm-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}
@media (min-width: 768px) {
    .tf-grid-layout {
        &.md-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
    .card-product-item {
        .card-product-wrapper {
            .on-sale-wrap {
                top: 13px;
                left: 12px;
            }
        }
    }
}

@media (min-width: 992px) {
    .tf-grid-layout {
        column-gap: 30px;
        row-gap: 30px;
        &.lg-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
    .sidebar {
        &.maxw-360 {
            max-width: 380px;
            margin-left: auto;
        }
    }
    .sw-dots:not(.swiper-pagination-lock) {
        margin-top: 40px;
    }
    .tab-banner {
        .nav-tab-item {
            .nav-tab-link {
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
    }
    .flat-with-text-lookbook {
        .wrap-cart-item {
            .cart-item:not(:last-child) {
                padding-bottom: 24px;
                margin-bottom: 24px;
            }
        }
    }
    .card-product {
        .tooltip {
            display: block;
        }
        &.style-1 {
            &:not(.style-list) {
                .list-product-btn {
                    .box-icon {
                        width: 40px;
                        height: 40px;
                        min-width: 40px;
                        transform: translateX(12px);
                        opacity: 0;
                        visibility: hidden;
                    }
                    .wishlist {
                        transition-delay: 0s;
                    }
                    .compare {
                        transition-delay: 0.1s;
                    }
                    .quickview {
                        transition-delay: 0.2s;
                    }
                }
                .list-btn-main {
                    opacity: 0;
                    visibility: hidden;
                }

                .btn-main-product {
                    transform: translateY(20px);
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &:hover:not(.style-list) {
                .list-btn-main,
                .list-product-btn {
                    opacity: 1 !important;
                    visibility: visible !important;
                }
                .list-product-btn {
                    .box-icon {
                        opacity: 1 !important;
                        visibility: visible !important;
                        transform: translateX(0);
                    }
                }
                .btn-main-product {
                    transform: translate(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &.style-list {
            gap: 40px;
            .list-product-btn {
                .box-icon {
                    border: 2px solid var(--line);
                    width: 48px;
                    height: 48px;
                    min-width: 48px;
                }
            }
        }
    }
    .testimonial-item {
        .img-style {
            position: relative;
            .box-icon {
                visibility: hidden;
                opacity: 0;
                width: 40px;
                height: 40px;
                font-size: 24px;
            }
        }
        &:hover {
            .img-style {
                .box-icon {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .collection-position {
        &.style-2 {
            .content {
                margin: 0 40px;
            }
        }
    }
    .cls-lookbook {
        .dropdown-menu {
            --bs-dropdown-min-width: 19rem;
        }
    }
}

@media (min-width: 1200px) {
    .tf-grid-layout {
        column-gap: 30px;
        row-gap: 30px;
        &.xl-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.xl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.xl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.xl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.xl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.xl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    .footer {
        .footer-menu {
            gap: 70px;
            padding-left: 80px;
            padding-right: 36px;
        }
        .footer-newsletter {
            padding-left: 50px;
        }
    }
    .tf-img-with-text {
        .banner-left {
            padding: 77.5px 80px;
            .tab-banner {
                margin-bottom: 40px;
            }
        }
    }
    .flat-with-text-lookbook {
        .lookbook-content {
            padding-left: 70px;
            .box-title {
                margin-bottom: 40px;
            }
        }
    }
    .card-product {
        .list-product-btn {
            top: 12px;
            right: 12px;
        }
        .on-sale-wrap {
            top: 12px !important;
            left: 12px !important;
        }
    }
    .tf-countdown-lg {
        .countdown__item {
            min-width: 60px;
            min-height: 70px;
        }
    }
    .gallery-item {
        .box-icon {
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }
            .box-icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media (min-width: 1300px) {
    .cls-lookbook {
        .dropdown-menu {
            transform: translate(49px, 43px) !important;
        }
    }
}

@media (min-width: 1350px) {
    .footer {
        .footer-menu {
            gap: 140px;
        }
    }
}

// max-width

@media (max-width: 1100px) {
    .blog-detail-wrap {
        > .inner {
            > .tf-social-icon {
                display: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    h3 {
        font-size: 30px;
        line-height: 38px;
    }
    h5 {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 991px) {
    footer {
        .footer-menu {
            margin-bottom: 30px;
            > div {
                width: 50%;
            }
        }
        .footer-infor {
            margin-bottom: 30px;
        }
        .footer-body {
            padding: 40px 0;
        }
    }
    .blog-detail-wrap {
        > .inner {
            padding: 15px 15px 0;
        }
    }
    .loobook-product {
        gap: 10px;
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    h5 {
        font-size: 18px;
        line-height: 24px;
    }
    .blog-article-item {
        .article-thumb {
            width: 100% !important;
            max-width: 100% !important;
        }
        &.style-list {
            flex-wrap: wrap;
            .article-content {
                padding: 16px 0 0 0;
            }
        }
    }
    .footer {
        .footer-heading-mobile {
            display: block;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 12px;
                height: 1px;
                background-color: var(--main);
                transition: 0.25s ease-in-out;
            }
            &::before {
                position: absolute;
                content: "";
                right: 15px;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 1px;
                height: 12px;
                background-color: var(--main);
                transition: 0.25s ease-in-out;
            }
        }
        .footer-col-block {
            &.open {
                .footer-heading-mobile {
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        transform: translate(0%, -50%) rotate(180deg);
                    }
                }
            }
            .tf-collapse-content {
                display: none;
            }
        }
        .footer-menu {
            flex-wrap: wrap;
            gap: 18px;
            > div {
                width: 100%;
            }
        }
    }
    .tf-img-with-text {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 610px) {
    footer {
        .footer-bottom-wrap {
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .header-default .nav-icon {
        gap: 12px;
        .nav-icon-item {
            font-size: 22px;
        }
    }
}
