html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--main);
    background-color: var(--White);
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
}

.container {
    width: 100%;
    margin: auto;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.container-full {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

// form //
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: $font-main;
    border: 1px solid var(--line);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 24px;
    border-radius: 3px;
    padding: 12px 18px;
    width: 100%;
    background: var(--White);
    color: var(--Secondary);
    font-weight: 400;
    &:focus {
        border-color: var(--line);
    }
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    @include transition3;
}

textarea {
    height: 112px;
    resize: none;
}
/* Placeholder color */
::-webkit-input-placeholder {
    color: var(--Secondary);
}

:-moz-placeholder {
    color: var(--Secondary);
}

::-moz-placeholder {
    color: var(--Secondary);
    opacity: 1;
}

button {
    background-color: transparent;
    border: 0;
    outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */

:-ms-input-placeholder {
    color: var(--Secondary);
}

/* Typography
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main;
    text-rendering: optimizeLegibility;
    color: var(--main);
    font-weight: 400;
}

h1 {
    font-size: 56px;
    line-height: 68px;
}

h2 {
    font-size: 44px;
    line-height: 50px;
}

h3 {
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-size: 30px;
    line-height: 42px;
}

h5 {
    font-size: 24px;
    line-height: 30px;
}

h6 {
    font-size: 20px;
    line-height: 28px;
}

.text-display {
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
}

.text-body-1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.text-body-default {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.text-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-button-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text-caption-1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text-caption-2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.font-main {
    font-family: $font-main;
}
.font-2 {
    font-family: $font-2;
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// font-weight
.fw-4 {
    font-weight: 400 !important;
}
.fw-5 {
    font-weight: 500 !important;
}
.fw-6 {
    font-weight: 600 !important;
}
.fw-7 {
    font-weight: 700 !important;
}
.fw-8 {
    font-weight: 800 !important;
}

// background color
.bg_white {
    background-color: var(--White) !important;
}
.bg_onsurface {
    background-color: var(--Onsurface) !important;
}

// color text
.text_white {
    color: var(--White) !important;
}
.text_primary {
    color: var(--Primary) !important;
}

.text_secondary {
    color: var(--Secondary) !important;
}

label {
    font-weight: 600;
}
.link {
    @include transition3;
    &:hover {
        color: var(--Primary) !important;
    }
}

// line-clamp
.line-clamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.line-clamp-4 {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

a {
    @include transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--Onsurface);
    &:focus,
    &:hover {
        @include transition3;
        text-decoration: none;
        outline: 0;
    }
}

// grid
.grid-2 {
    @include grid(2, 1fr);
}
.grid-3 {
    @include grid(3, 1fr);
}
.grid-4 {
    @include grid(4, 1fr);
}
.grid-6 {
    @include grid(6, 1fr);
}

.tf-grid-layout {
    display: grid;
    column-gap: 15px;
    row-gap: 30px;
    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.gap30 {
        gap: 30px;
    }
}

// gap
.gap-4 {
    gap: 4px !important;
}
.gap-5 {
    gap: 5px !important;
}
.gap-6 {
    gap: 6px !important;
}
.gap-8 {
    gap: 8px !important;
}
.gap-10 {
    gap: 10px !important;
}
.gap-12 {
    gap: 12px !important;
}
.gap-14 {
    gap: 14px !important;
}
.gap-15 {
    gap: 15px !important;
}
.gap-16 {
    gap: 16px !important;
}

// radius

.radius-3 {
    border-radius: 3px !important;
}
.radius-5 {
    border-radius: 5px !important;
}
.radius-10 {
    border-radius: 10px !important;
}
.radius-20 {
    border-radius: 20px !important;
}
.radius-60 {
    border-radius: 60px !important;
}
.rounded-full {
    border-radius: 999px !important;
}
.o-hidden {
    overflow: hidden;
}

// padding
.px_15 {
    padding-left: 15px;
    padding-right: 15px;
}

// padding
.pt_0 {
    padding-top: 0px !important;
}
.pb_0 {
    padding-bottom: 0px !important;
}
.pr_0 {
    padding-right: 0px !important;
}

// margin
.mb_10 {
    margin-bottom: 10px;
}
.mb_12 {
    margin-bottom: 12px;
}
.mb_16 {
    margin-bottom: 16px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_24 {
    margin-bottom: 24px;
}
.mb_40 {
    margin-bottom: 40px;
}
.mb_48 {
    margin-bottom: 48px;
}
// spacing
.flat-spacing-1 {
    padding: 10px 0;
}

[data-grid="grid-1"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}
[data-grid="grid-2"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}
[data-grid="grid-3"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
[data-grid="grid-4"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
[data-grid="grid-5"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}
[data-grid="grid-6"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.grid-template-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.tf-row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
}

.tf-grid-layout-v2 {
    display: grid;
    gap: 15px;
}

.sticky-top {
    z-index: 50;
}

.tf-md-hidden {
    display: none;
}

// position

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.simpleParallax{
    height: 100%;
}