@media (min-width: 576px) {
    .tf-grid-layout {
        &.sm-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}
@media (min-width: 768px) {
    .tf-grid-layout {
        &.md-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}
@media (min-width: 992px) {
    .tf-grid-layout {
        column-gap: 30px;
        row-gap: 30px;
        &.lg-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
    .sidebar {
        &.maxw-360 {
            max-width: 360px;
            margin-left: auto;
        }
    }
}
@media (min-width: 1200px) {
    .footer {
        .footer-menu {
            gap: 140px;
            padding-left: 80px;
            padding-right: 36px;
        }
        .footer-newsletter {
            padding-left: 50px;
        }
    }
}
