// min-width
@media (min-width: 576px) {
    .tf-grid-layout {
        &.sm-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}
@media (min-width: 768px) {
    .tf-grid-layout {
        &.md-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media (min-width: 992px) {
    .tf-grid-layout {
        column-gap: 30px;
        row-gap: 30px;
        &.lg-col-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
    .sidebar {
        &.maxw-360 {
            max-width: 380px;
            margin-left: auto;
        }
    }
    .sw-dots:not(.swiper-pagination-lock) {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .footer {
        .footer-menu {
            gap: 70px;
            padding-left: 80px;
            padding-right: 36px;
        }
        .footer-newsletter {
            padding-left: 50px;
        }
    }
}

@media (min-width: 1350px) {
    .footer {
        .footer-menu {
            gap: 140px;
        }
    }
}

// max-width

@media (max-width: 1100px) {
    .blog-detail-wrap {
        > .inner {
            > .tf-social-icon {
                display: none;
            }
        }
    }
}

@media (max-width: 991px) {
    footer {
        .footer-menu {
            margin-bottom: 30px;
            > div {
                width: 50%;
            }
        }
        .footer-infor {
            margin-bottom: 30px;
        }
        .footer-body {
            padding: 40px 0;
        }
    }
    .blog-detail-wrap {
        > .inner {
            padding: 15px 15px 0;
        }
    }
}
@media (max-width: 767px) {
    .blog-article-item {
        .article-thumb {
            width: 100% !important;
            max-width: 100% !important;
        }
        &.style-list {
            flex-wrap: wrap;
            .article-content {
                padding: 16px 0 0 0;
            }
        }
    }
    .footer {
        .footer-heading-mobile {
            display: block;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 12px;
                height: 1px;
                background-color: var(--main);
                transition: 0.25s ease-in-out;
            }
            &::before {
                position: absolute;
                content: "";
                right: 15px;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 1px;
                height: 12px;
                background-color: var(--main);
                transition: 0.25s ease-in-out;
            }
        }
        .footer-col-block {
            &.open {
                .footer-heading-mobile {
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        transform: translate(0%, -50%) rotate(180deg);
                    }
                }
            }
            .tf-collapse-content {
                display: none;
            }
        }
        .footer-menu {
            flex-wrap: wrap;
            gap: 18px;
            > div {
                width: 100%;
            }
        }
    }
}
@media (max-width: 610px) {
    footer {
        .footer-bottom-wrap {
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .header-default .nav-icon {
        gap: 12px;
        .nav-icon-item {
            font-size: 22px;
        }
    }
}
