.flat-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
}

.heading-section {
    margin-bottom: 40px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    &.style-2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            gap: 12px;
            flex-direction: column;
        }
    }
}

.page-title {
    position: relative;
    .paralaximg {
        min-height: 280px;
    }
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .title {
            color: var(--White);
            margin-bottom: 12px;
        }
        .breadcrumb {
            @include d-flex();
            align-items: center;
            gap: 20px;
            a {
                color: var(--White);
                &:hover {
                    color: var(--Onsurface);
                }
            }
            li {
                font-size: 14px;
                line-height: 22px;
                color: var(--White);
                &:not(:last-child) {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "\e92e";
                        font-family: $fontIcon;
                        right: -17px;
                        top: 1px;
                    }
                }
            }
        }
    }
    &.style-2 {
        .paralaximg {
            min-height: 500px;
        }
    }
}

.tf-countdown-lg {
    padding: 20px;
    border-radius: 16px;
    background-color: var(--White);
    max-width: max-content;
    .countdown__timer {
        display: flex;
        gap: 40px;
    }
    .countdown__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .countdown__value {
            font-size: 40px;
            line-height: 48px;
        }
        .countdown__label {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: var(--Secondary);
        }
        &:not(:last-child)::after {
            position: absolute;
            content: ":";
            font-size: 28px;
            font-weight: 500;
            line-height: 36px;
            top: 50%;
            right: -22px;
            transform: translateY(-50%);
        }
    }
}

.list-star-default {
    white-space: nowrap;
    display: flex;
    gap: 2px;
    .icon {
        font-size: 14px;
        color: var(--Yellow);
    }
    &.color-primary {
        .icon {
            color: var(--primary);
        }
    }
}

.gallery-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    .box-icon {
        @include flex(center, center);
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: var(--White);
        width: 40px;
        height: 40px;
        font-size: 24px;
        &:hover {
            background-color: var(--Onsurface);
            color: var(--White);
        }
    }
}

.team-item {
    .img-style {
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 24px;
        position: relative;
        .tf-social-icon {
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 12px;
            transform: translateX(12px);
            opacity: 0;
            visibility: hidden;
            @include transition3();
        }
        &:hover {
            .tf-social-icon {
                transform: translateX(-0px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .name {
        margin-bottom: 4px;
        a {
            background-repeat: no-repeat;
            background-position-y: 0px;
            background-image: linear-gradient(
                transparent calc(100% - 1px),
                currentColor 1px
            );
            transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            background-size: 0 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
    &:hover {
        .name a {
            background-size: 100% 100%;
            transition-delay: 0.2s;
        }
    }
}

.wrap-categories {
    display: flex;
    &:not(&.style-2) {
        gap: 24px 74px;
        flex-wrap: wrap;
        justify-content: center;
        .categories-item {
            position: relative;
            &:not(:last-child) {
                &::after {
                    position: absolute;
                    content: "/";
                    font-size: 40px;
                    line-height: 48px;
                    color: var(--line);
                    right: -48px;
                }
            }
        }
    }
    &.style-2 {
        justify-content: unset;
        flex-wrap: nowrap;
        gap: 30px;
        .categories-item {
            width: 234px;
            flex-shrink: 0;
            &.style-2 {
                width: 190px;
                flex-shrink: 0;
            }
        }
    }
}

.categories-item {
    &:not(&.style-3) {
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--line);
        @include transition3();
        .icon {
            font-size: 68px;
            margin-bottom: 20px;
            @include transition3();
        }
        &:hover {
            .icon {
                color: var(--Primary);
            }
            box-shadow: 0px 10px 25px 0px #2b344a1f;
        }
        &.style-2 {
            border: none;
            padding: 0;
            box-shadow: unset;
            .img-style {
                margin: 0 auto;
                max-width: 190px;
                border-radius: 999px;
                overflow: hidden;
                margin-bottom: 16px;
            }
        }
    }

    &.style-3 {
    }
}

.flat-img-with-text-4 {
    display: grid;
    gap: 40px;
    .relatest-post-item:not(:last-child) {
        padding-bottom: 16.5px;
        border-bottom: 1px solid var(--line);
        margin-bottom: 16.5px;
    }
}

.flat-img-with-text-5 {
    display: grid;
    gap: 20px;
}

.login-wrap {
    display: flex;
    gap: 250px;
    align-items: center;
    position: relative;
    .left {
        width: 100%;
        .heading {
            margin-bottom: 28px;
        }
    }
    .right {
        width: 100%;
        p {
            margin-bottom: 28px;
        }
        a {
            padding: 10px 32px;
        }
    }
}

.about-us-main {
    .heading-section {
        display: grid;
        gap: 16px;
    }
    .img-wrap {
        margin-bottom: 40px;
        border-radius: 28px;
        overflow: hidden;
    }
    .content {
        display: flex;
        gap: 40px;
    }
}

.benefit-item {
    display: flex;
    gap: 20px;
    .icon {
        font-size: 80px;
    }
    .title {
        margin-bottom: 8px;
    }
}

.about-us {
    .img-style{
        border-radius: 8px;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    .box-about {
        .benefit {
            display: grid;
            gap: 40px;
        }
    }

}
