.flat-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
}

.heading-section {
    margin-bottom: 40px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    &.style-2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            gap: 12px;
            flex-direction: column;
        }
    }
}

.page-title {
    position: relative;
    .paralaximg {
        min-height: 280px;
    }
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .title {
            color: var(--White);
            margin-bottom: 12px;
        }
        .breadcrumb {
            @include d-flex();
            align-items: center;
            gap: 20px;
            a {
                color: var(--White);
                &:hover {
                    color: var(--Onsurface);
                }
            }
            li {
                font-size: 14px;
                line-height: 22px;
                color: var(--White);
                &:not(:last-child) {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "\e92e";
                        font-family: $fontIcon;
                        right: -17px;
                        top: 1px;
                    }
                }
            }
        }
    }
    &.style-2 {
        .paralaximg {
            min-height: 500px;
        }
    }
}



.tf-countdown-lg{
    .countdown__timer {
        display: flex;
        gap: 40px;
    }
    .countdown__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .countdown__value {
            font-size: 28px;
            font-weight: 500;
            line-height: 36px;
        }
        .countdown__label {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: var(--Secondary);
        }
        &:not(:last-child)::after {
            position: absolute;
            content: ':';
            font-size: 28px;
            font-weight: 500;
            line-height: 36px;
            top: 50%;
            right: -22px;
            transform: translateY(-50%);
        }
    }
}