.blog-article-item {
    .article-thumb {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 24px;
        position: relative;
        max-width: 410px;
        a {
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .article-label {
        position: absolute;
        top: 12px;
        left: 12px;
        @include flex(center, center);
        padding: 0 8px;
        height: 22px;
        background-color: var(--White);
        border-radius: 144px;
    }
    .meta {
        @include d-flex();
        gap: 17px;
        margin-bottom: 12px;
        li {
            &:not(:last-child) {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 12px;
                    right: -9px;
                    top: 5px;
                    background-color: var(--line);
                }
            }
        }
        a {
            margin-left: 5px;
        }
    }
    .article-title {
        margin-bottom: 8px;
    }
    &.style-list {
        @include d-flex();
        align-items: center;
        gap: 40px;
        .article-thumb {
            flex-shrink: 0;
            margin-bottom: 0;
        }
        .article-description {
            margin-bottom: 12px;
        }
    }
}

.wg-pagination {
    display: flex;
    gap: 8px;
    .pagination-item {
        width: 40px;
        height: 40px;
        @include flex(center, center);
        border: 1px solid var(--line);
        border-radius: 5px;
        overflow: hidden;
    }
    li:hover,
    li.active {
        .pagination-item {
            background-color: var(--Onsurface);
            border-color: var(--Onsurface);
            color: var(--White);
        }
    }
}

.blog-list-main {
    .wrap-list {
        @include d-flex();
        flex-direction: column;
        gap: 40px;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .sidebar-heading {
        margin-bottom: 20px;
    }
    .sidebar-relatest-post {
        .blog-article-item {
            .meta {
                margin-bottom: 8px;
            }
        }
    }
    .relatest-post-item {
        &:not(:last-child) {
            padding-bottom: 19px;
            border-bottom: 1px solid var(--line);
            margin-bottom: 20px;
        }
    }
}


.relatest-post-item {
    .image {
        margin-bottom: 24px;
        border-radius: 8px;
        overflow: hidden;
    }
    .content{
        display: grid;
        gap: 12px;
        flex-grow: 1;
    }
    .meta {
        // margin-bottom: 12px;
        .icon {
            font-size: 16px;
            line-height: 1;
        }
    }
    .title {
        a {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
    }
    &:not(:last-child) {
        padding-bottom: 19px;
        border-bottom: 1px solid var(--line);
        margin-bottom: 20px;
    }
    &.style-row {
        display: flex;
        gap: 20px;
        align-items: center;
        .content{
            gap: 8px;
        }
        .image {
            margin-bottom: 0;
            width: 112px;
            flex-shrink: 0;
        }
        .meta {
            gap: 10px 17px;
            p {
                color: var(--main);
            }
            .meta-item:not(:last-child)::after {
                right: -9px;
            }
        }
    }
}