.sw-dots {
    display: flex;
    gap: 8px;
    &.type-circle {
        .swiper-pagination-bullet {
            position: relative;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: 1px solid transparent;
            opacity: 1;
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                width: 8px;
                height: 8px;
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid var(--main);
                opacity: 1;
            }
            &.swiper-pagination-bullet-active {
                border: 1px solid var(--main);
                &::after {
                    background-color: var(--main);
                }
            }
        }
    }
    &.white-circle {
        .swiper-pagination-bullet {
            &::after {
                background-color: var(--White);
                border-color: var(--White);
            }
            &.swiper-pagination-bullet-active {
                border: 1px solid var(--White);
                &::after {
                    background-color: var(--White);
                }
            }
        }
    }
    &.white-circle-line {
        .swiper-pagination-bullet {
            &::after {
                border-color: var(--White);
            }
            &.swiper-pagination-bullet-active {
                border: 1px solid var(--White);
                &::after {
                    background-color: var(--White);
                }
            }
        }
    }
    // ------------------
    &.type-square {
        .swiper-pagination-bullet {
            @include transition3;
            width: 24px;
            height: 4px;
            border-radius: 99px;
            background-color: var(--main);
            opacity: 0.3;
            &.swiper-pagination-bullet-active {
                width: 40px;
                opacity: 1;
            }
        }
    }
    &.white-square {
        .swiper-pagination-bullet {
            background-color: var(--white);
        }
    }
    &:not(.swiper-pagination-lock) {
        margin-top: 20px;
    }
}
.sw-button {
    width: 52px;
    height: 52px;
    border-radius: 999px;
    background-color: var(--Onsurface);
    @include transition3();
    &.swiper-button-next {
        &::before {
            content: "\e92e";
        }
    }
    &.swiper-button-prev {
        &::before {
            content: "\e930";
        }
    }
    &.swiper-button-disabled,
    &:hover {
        background-color: var(--White);
        opacity: 1;
        &::before {
            color: var(--Onsurface);
        }
    }
    &::before {
        @include transition3();
        font-family: $fontIcon;
        color: var(--White);
        font-size: 24px;
    }
    &::after {
        display: none;
    }
}

.tf-sw-products{
    &.style-full{
        .nav-next-products{
            left: 12%;
        }
        .nav-prev-products{
            right: 12%;
        }
    }
}