footer {
    background-color: var(--Surface);
    .footer-body {
        padding: 80px 0;
    }
    .footer-heading {
        margin-bottom: 12px;
        &.style-2 {
            margin-bottom: 16px;
        }
    }
    .footer-phone-number {
        @include d-flex();
        margin-bottom: 20px;
        gap: 16px;
        .icon {
            @include flex(center, center);
            width: 60px;
            height: 60px;
            border-radius: 999px;
            font-size: 36px;
            background-color: var(--line);
        }
        p {
            margin-bottom: 4px;
        }
    }
    .footer-info {
        margin-bottom: 20px;
        p {
            margin-bottom: 8px;
        }
    }
    .footer-menu {
        @include d-flex();
        gap: 40px;
        .footer-menu-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    .wrap-newsletter {
        p {
            margin-bottom: 24px;
        }
    }
    .form-newsletter {
        margin-bottom: 24px;
        position: relative;
        fieldset {
            input {
                border-radius: 8px;
            }
        }
    }
    .subscribe-button {
        position: absolute;
        height: 40px;
        padding: 0 16px;
        border-radius: 6px;
        @include d-flex();
        align-items: center;
        gap: 4px;
        background-color: var(--Onsurface);
        color: var(--White);
        top: 50%;
        transform: translateY(-50%);
        right: 6px;
        i {
            font-weight: 700;
        }
    }

    .tf-btn-direction {
        display: flex;
        align-items: center;
        span {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                bottom: 0;
                background-color: var(--Onsurface);
                left: 0;
                @include transition3();
            }
        }
        i {
            font-size: 20px;
        }
        &:hover {
            span {
                &::after {
                    background-color: var(--Primary);
                }
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid var(--line);
    }
    .footer-bottom-wrap {
        @include flex(center, space-between);
        padding: 8px  0;
        flex-wrap: wrap;
        gap: 15px 30px;
        .left {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}
.tf-payment {
    ul {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        img {
            width: 38px;
            height: 24px;
        }
    }
}

.tf-toolbar-bottom {
    display: none; 
    padding: 15px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    z-index: 60;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--White);
    box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);

    .toolbar-item {
        flex: 1 0 20%;
        position: relative;
        a {
            width: 100%;
            padding-right: 7px;
            padding-left: 7px;
            height: 40px;
            gap: 4px;
            @include flex(center,center);
            flex-direction: column;
            .toolbar-icon {
                display: flex;
                position: relative;
                svg {
                    width: 20px;
                }
                .icon {
                    font-size: 20px;
                    color: var(--main);
                }
            }
            .toolbar-label {
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                color: var(--Secondary);
                @include transition3;
            }
            &:hover{
                .toolbar-label{
                    color: var(--main);
                    font-weight: 600;
                }
            }
        }
        
    }
}