.tf-topbar {
    background-color: var(--Onsurface);
    padding: 11px 0;
    .topbar-left {
        display: flex;
        align-items: center;
        gap: 28px;
    }
    .topbar-right {
        display: flex;
        align-items: center;
        gap: 29px;
    }
}