.offcanvas {
    z-index: 3000;
    border: none !important;
}

.offcanvas-backdrop {
    background-color: var(--backdrop);
    cursor: url("../images/cursor-close.svg"), auto;

    &.show {
        opacity: 1;
    }
}

.overflow-x-auto,
.overflow-y-auto {
    &::-webkit-scrollbar {
        width: 0px;
    }
}



// modal
.modal-backdrop {
    background-color: var(--backdrop);
    &.show {
        opacity: 1;
    }
    // &:nth-child(1),
    // &:nth-of-type(1) {
    //     z-index: 1050 !important;
    // }
}
// .fade.show:last-child {
//     z-index: 1061 !important;
// }
.modal {
    cursor: url("../images/cursor-close.svg"), auto;
    &.show {
        .modal-dialog {
            transform: none;
            transition: transform .3s ease-out !important;
        }
    }
    // Right
    &.fullRight {
        .modal-dialog {
            transform: translate(100%, 0);
            min-width: 100%;
            height: 100%;
            margin: 0;
            transition: transform 1s ease-out;
            .modal-content {
                border-radius: 0;
                border: 0;
                margin: auto;
                overflow: hidden;
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                padding: 0;
                .modal-body {
                    overflow: auto;
                    padding: 0;
                    padding-bottom: 30px;
                }
            }
        }
        &.show {
            .modal-dialog {
                transform: translate(0, 0);
            }
        }
    }
    // Left
    &.fullLeft {
        .modal-dialog {
            transform: translate(-100%, 0) !important;
            min-width: 100%;
            height: 100%;
            margin: 0;
            transition: all 0.3s !important;
            .modal-content {
                border-radius: 0;
                border: 0;
                margin: auto;
                overflow: hidden;
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                padding: 0;
                .modal-body {
                    overflow: auto;
                    padding: 0;
                    padding-bottom: 30px;
                }
            }
        }
        &.show {
            .modal-dialog {
                transform: translate(0, 0) !important;
            }
        }
    }
    // modalLeft
    &.modalLeft {
        .modal-dialog {
            transform: translate(-100px, 0);
        }
    }
    // modalRight
    &.modalRight {
        .modal-dialog {
            transform: translate(100px, 0);
        }
    }
    // modalBottom
    &.modalBottom {
        .modal-dialog {
            transform: translate(0, 100px);
        }
    }
    // modalCentered
    &.modalCentered {
        .modal-dialog {
            transform: translate(0, 0) !important;
        }
    }
    .modal-content {
        cursor: default !important;
    }
    &.fade{
        
    }
    &.fade:not(.show) {
        opacity: 0;
        // transition: opacity 3s linear;
    }
}

.bg-color-beige {
    background: conic-gradient(#c8ad7f 0deg 360deg);
}
.bg-color-black {
    background: conic-gradient(#000000 0deg 360deg);
}
.bg-color-blue {
    background: conic-gradient(#a8bcd4 0deg 360deg);
}
.bg-color-white {
    background: conic-gradient(#ffffff 0deg 360deg);
}
.bg-color-pink {
    background: conic-gradient(#fcc6de 0deg 360deg);
}
.bg-color-brown {
    background: conic-gradient(#977945 0deg 360deg);
}
.bg-color-light-purple {
    background: conic-gradient(#d966d9 0deg 360deg);
}
.bg-color-light-green {
    background: conic-gradient(#caffd6 0deg 360deg);
}
.bg-color-orange {
    background: conic-gradient(#ffa500 0deg 360deg);
}
.bg-color-light-blue {
    background: conic-gradient(#add8e6 0deg 360deg);
}


.tf-cart-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    .tf-checkbox-wrapp {
        min-width: 1.6rem;
        place-items: center;
        position: relative;
        overflow: hidden;
        display: flex;
        input {
            cursor: pointer;
            display: block;
            width: 20px;
            height: 20px;
            transition: 0.2s ease-in-out;
            background-color: var(--White);
            opacity: 0;
            &:checked + div {
                background-color: var(--Onsurface);
                i {
                    transform: scale(1);
                }
            }
        }
        div {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            transition: 0.25s ease-in-out;
            z-index: 5;
            border-radius: 4px;
            border: 1px solid var(--line);
            background-color: var(--White);
            color: var(--White);
            pointer-events: none;
            i {
                font-size: 11px;
                transform: scale(0);
            }
        }
    }
    label {
        font-weight: 400;
        cursor: pointer;
        a {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
    .wrap-content {
        display: none;
    }
    &.check {
        .wrap-content {
            display: block;
        }
    }
}

// Filter Shop
.canvas-wrapper {
    padding: 0;
    isolation: isolate;
    height: 100%;
    width: 100%;
    max-height: none;
    display: grid;
    grid-auto-rows: auto minmax(0, 1fr) auto;
    align-content: start;
}
.canvas-body {
    background-color: var(--white);
    padding: 15px 20px;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--bg-scrollbar-track);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--bg-scrollbar-thumb);
        border-radius: 4px;
    }
}