//settings
$font-main: "Marcellus", sans-serif;
$fontIcon: "icomoon";

:root{
    // color
    --main: #000000;
    --white: #ffffff;
    --Onsurface: #181818;
    --Primary: #E43131;
    --Secondary: #4D4E4F;
    --Secondary2: #A0A0A0;
    --Surface: #F7F7F7;
    --Line: #E9E9E9;
    --Critical: #F03E3E;
    --Success: #3DAB25;
    --Yellow: #F0A750;
    --Pink: #EC749D;
}